@import url('./var.css');

*{
    padding: 0px;
    margin: 0px;
    border: none;
    background-color: var(--background);
}

header{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 1000;
}

.header-div p {
    color: var(--white);
    font-size: 24px;
    background-color: var(--element-color);
}

.header-div a{
    text-decoration: none;
    border-radius: var(--border-radius);
}

.header-img {
    background: transparent ;
}

.header-Magnidier-logo {
    display: flex;
    padding-left: 25px;
}

.header-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--element-color);
    gap: 86px;
}

.header-div div {
    display: flex;
    align-items: center;
    background-color: var(--element-color);
    gap: 24px;
}

.header-div div:hover
{
    background-color: var(--hover-color);
    border-radius: var(--border-radius);
}

.header-div div p {
    white-space: pre;
    background: transparent ;
}

.header-menu-icon {
    background-color: var(--element-color);
    margin-left: 360px;
    border-radius: var(--border-radius);
}

.header-menu-icon:hover{
    background-color: var(--hover-color);
}

.header-input {
    background-color: var(--input-background);
    color: var(--white);
    border-color: var(--white);
    border-width: 2px;
    border-radius: var(--border-radius);
    height: 64px;
    font-size: 20px;

    padding-left: 50px;
    background-image: url(../icons/Magnifier.svg);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: left 10px center;

    width: 100%;
    max-width: 912px;
}

/* фильтр */
.filter-div {
    display: flex;
    margin-bottom: 24px;
}

.filter-div button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--element-color);
    border-radius: 16px;
    margin: 160px 0px 0px 24px;
    padding-left: 24px;
    color: var(--white);
    height: 72px;
    width: 100%;
    max-width: 216px;
    position: relative; 
}

.filter-div button:hover
{
    background-color: var(--hover-color);
}

.filter-div button p{
    background: transparent ;
    font-size: 20px;
}

.filter-div button img {
    background: transparent ;
    width: 24px;
    height: 24px;
    margin-right: 24px;
}

.filter-div button div {
    background-color: var(--element-color);
    color:var(--white);
    font-size: 24px;
    text-align: center; 
}

/* карточки */

.grop-card-main
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 50% 50%;
    margin-left: 270px;   
    margin-right: 192px;
    gap: 32px 0px;
}

.card-div
{
    display: flex;
    flex-direction: column;   
    background-color: var(--element-color);
    gap: 24px;
    width: 288px;
    height: 505px;
    border-radius: 16px;
    
}

.card-div:hover
{
    border: var(--white) solid;
    border-width: 1px;
    margin: -1px;
}

.card-div-img{

    width: 240px;
    height: 120px;
    margin: 24px 0px 0px 24px ;
}

.card-div p
{
    color: var(--white);
    padding-left: 24px;
    padding-bottom: 24px;
    font-size: 20px;
    background-color:  var(--card-black-color);
}

.card-name-p{
    margin-left: -24px;
}

.card-div-content
{
    background-color: var(--card-black-color);
    border-radius: var(--border-radius);
    padding-top: 12px;
    padding-left: 24px;
}

.card-div-content div{
    display: flex; 
    align-items: center; 
}

.card-div-content div img{
    background-color: var(--card-black-color);
    width: 48px;
    height: 48px;
}

.card-div-content-block p{
    width: 150px;
    margin-top: 24px;
}

.card-div-content-block
{
    background-color: var(--card-black-color);
    border-radius: var(--border-radius);
    padding-bottom: 6px;
}

/* подвал */

.footer
{
    margin-top: 136px;
}


.footer div
{
    display: flex;
    gap: 128px;
    padding: 24px;
    background-color: var(--element-color);
    color: var(--white);
}

.footer div a{
    background: transparent;
    text-decoration: none;
    color: var(--white);
}

.footer div p{
    background: transparent;
}