@import url('./var.css');

*{
    font-family: 'Ledger';
    padding: 0px;
    margin: 0px;
    border: none;
    background-color: var(--background);
}

header{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 1000;
}

.header-div p {
    color: var(--white);
    font-size: 22px;
    background-color: var(--element-color);
}

.header-div a{
    text-decoration: none;
    border-radius: var(--border-radius);
}

.header-img {
    background: transparent ;
}

.header-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--element-color);
    gap: 86px;
}

.header-div div {
    display: flex;
    align-items: center;
    background-color: var(--element-color);
    gap: 24px;
}

.header-div div:hover
{
    background-color: var(--hover-color);
    border-radius: var(--border-radius);
}

.header-div div p {
    white-space: pre;
    background: transparent ;
}

.header-menu-icon {
    background-color: var(--element-color);
    margin-left: 360px;
    border-radius: var(--border-radius);
}

.header-menu-icon:hover{
    background-color: var(--hover-color);
}

.header-input {
    background-color: var(--input-background);
    color: var(--white);
    border-color: var(--white);
    margin-top: 24px;
    border-width: 2px;
    border-radius: var(--border-radius);
    height: 64px;
    font-size: 16px;

    padding-left: 50px;
    background-image: url(../icons/Magnifier.svg);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: left 10px center;

    width: 100%;
    max-width: 912px;
}

/* фильтр */
.filter-div {
    display: flex;
    margin-bottom: 24px;
}

.filter-div button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--element-color);
    border-radius: 16px;
    margin: 160px 0px 0px 24px;
    padding-left: 24px;
    color: var(--white);
    height: 72px;
    width: 100%;
    max-width: 216px;
    position: relative; 
}

@media (hover: hover)
{
   .filter-div button:hover
    {
        background-color: var(--hover-color);
    } 
}


.filter-div button p{
    background: transparent ;
    font-size: 16px;
}

.filter-div button img {
    background: transparent ;
    width: 24px;
    height: 24px;
    margin-right: 24px;
}

/* карточки */

.grop-card-main
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 50% 0%;
    margin-left: 270px;   
    margin-right: 192px;
    gap: 32px 0px;
}

.card-div
{
    display: flex;
    flex-direction: column;   
    background-color: var(--element-color);
    gap: 24px;
    width: 288px;
    height: 505px;
    border-radius: var(--border-radius);
    
}

@media (hover: hover)
{
.card-div:hover
{
    border: var(--white) solid;
    border-width: 1px;
    margin: -1px;
}
}


.card-div-img{

    width: 240px;
    height: 120px;
    margin: 24px 0px 0px 24px ;
}

.card-div p
{
    color: var(--white);
    padding-left: 24px;
    padding-bottom: 24px;
    font-size: 16px;
    background-color:  var(--card-black-color);
}

.card-name-p{
    margin-left: -24px;
}

.card-div-content
{
    background-color: var(--card-black-color);
    border-radius: var(--border-radius);
    padding-top: 19px;
    padding-left: 24px;
}

.card-div-content div{
    display: flex; 
    align-items: center; 
}

.card-div-content div img{
    background-color: var(--card-black-color);
    width: 48px;
    height: 48px;
}

.card-div-content-block p{
    width: 150px;
    margin-top: 24px;
    background-color: transparent;
}

.card-div-content-block
{
    background-color: var(--card-black-color);
    border-radius: var(--border-radius);
    padding-bottom: 6px;
}

/* подвал */

.footer
{
    margin-top: 136px;
}


.footer div
{
    display: flex;
    gap: 128px;
    padding: 24px;
    background-color: var(--element-color);
    color: var(--white);
}

.footer div a{
    background: transparent;
    text-decoration: none;
    color: var(--white);
}

.footer div p{
    background: transparent;
}

/* фильтр всплывающий  */

.filter-left-menu
{
    display: flexbox;
    width: 320px;
    min-width: 320px;
    height: 100%;
    top: 148px;
    bottom: 0;
    left: 0;
    position: fixed;
    background-color: var(--element-color);
    transform: translateX(  -100%);
    transition: transform 0.3s ease-in-out; 
    z-index: 1000; 
}

.filter-left-menu div{
    display: inline-flex;
    background-color: var(--element-color);
}

.filter-left-menu div p{
    color: var(--white);
    background-color: transparent;
    margin-top: 18px;
}

.left-menu-check{
    width: 24px;
    height: 24px;
    margin: 16px;
}

.filter-left-menu div select
{
    color: var(--white);
    background-color: transparent;
    border: transparent;
    height: 48px;
    margin: 6px;
}

.filter-left-menu div img{
    background-color: transparent;
    width: 48px;
    height: 48px;
    margin: 6px;
}

.filter-left-menu div{
    width: 100%;
}

.input-right0menu{
     background-color: var(--input-background);
     border-radius: var(--border-radius);
     position: relative;
     width: 70%;
     height: 48px;
     margin: 6px;
     padding: 6px;
     color: var(--white);
}

.date-input{
    background-color: var(--input-background);
    border-radius: var(--border-radius);
    position: relative;
    width: 70%;
    height: 48px;
    margin: 6px;
    color: var(--white);
    padding: 6px;
}

.ok-button{
    background-color: var(--background);
    color: var(--white);
    padding: 12px;
    width: 272px;
    margin: 24px;
    border-radius: var(--border-radius);
    font-size: 16px;
    border: 1px solid transparent; 
    transition: border-color 0.3s ease; 
}

.ok-button:hover {
    border: 1px solid var(--white); 
}