:root{
    --background: #101322;
    --element-color: #2c3047;
    --white: #FFF;
    --border-radius: 16px;
    --hover-color: #424869;
    --input-background: #545361;
    --card-black-color: #343434;
    --user-card-back: #484965;
    --active-nav: #232C92;
}